* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fdfdfd;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Raleway';
  color: #fdfdfd;
  background-color: rgba(17, 17, 17, 0.4);
}

nav .home {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 22px;
}

nav .nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #fdfdfd;
  letter-spacing: 3px;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
}

.top {
  position: relative;
}

.top p {
  position: absolute;
  font-size: x-large;
  color: #fdfdfd;
  justify-self: center;
}

.image-slideshow {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;

  animation: 30s ease-in-out infinite alternate forwards running animate;
}

@keyframes animate {
  0% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../assets/img/cover1_min.jpg');
  }
  20% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../assets/img/cover2_min.jpg');
  }
  40% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../assets/img/cover3_min.jpg');
  }
  60% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../assets/img/cover4_min.jpg');
  }
  80% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../assets/img/cover5_min.jpg');
  }
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../assets/img/cover1_min.jpg');
  }
}

.middle {
  height: 75vh;
  display: block;
}

.middle h2 {
  text-align: right;
  margin: 50px 5rem;
  font-size: 3rem;
}

.middle .profile-picture {
  border-radius: 50%;
  max-width: 300px;
  float: left;
  margin: 0 30px;
}

.middle p {
  font-size: 25px;
  padding: 40px 5rem;
  text-align: justify;
}

.bottom {
  height: 55vh;
  display: block;
}

.bottom h2 {
  text-align: center;
  margin: 50px 5rem;
  font-size: 3rem;
}

.social-container {
  display: flex;
  justify-content: center;
}

.social-icons {
  width: 80px;
  margin: 0 16px;
  flex-grow: 1;
}

.animate-scroll {
  opacity: 0;
  transform: translateY(4em);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out;
  will-change: transform, opacity;
}

.seen {
  opacity: 1;
  transform: rotateZ(0);
}
